.login__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  color: white;
}

.line__height {
  text-align: center;
  line-height: 50px;
}
h1 {
  font-size: 50px;
}
h3 {
  font-size: 25px;
}

.inputs {
  color: black;
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  border: 1px solid black;
}
.input:focus {
  outline: none;
}

.show__password__button {
  padding: 0.5rem 2rem;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.05rem;
  font-weight: bolder;
}
.login__button {
  margin-top: 20px;
  padding: 0.5rem 2rem;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.05rem;
  font-weight: bolder;
}

.form {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 0.1rem;
}

@media screen and (max-width: 600px) {
  .line__height {
    line-height: 25px;
  }
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }
  .form {
    width: 20%;
  }

  .inputs {
    width: 150px;
    padding: 0.5rem;
    font-size: 13px;
    border: 1px solid black;
  }
  .show__password__button {
    padding: 0.1rem 2rem;
    background-color: #e50914;
    border: none;
    font-size: 12px;
    font-weight: none;
  }
}
